@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.main__nav--list {
  list-style: none;
  display: flex;
  align-items: center;
}

.logo {
  margin: 3.6rem 0 0 0;
}

.main__nav--element {
  display: flex;
  font-family: Poppins;
  font-size: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.one,
.two,
.three {
  margin-right: 4rem;
}

.button {
  font-family: Poppins;
  font-size: 1.8rem;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background: linear-gradient(56.83deg, #234dae 8.11%, #347bce 90.67%);
  width: 18.5rem;
  height: 5.6rem;
  margin: 3.7rem 0 0 17rem;
}

label #btn,
label #cancel {
  color: #304f95;
  font-size: 3.6rem;
  float: right;
  line-height: 8rem;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Container-Main Part */

.container {
  margin: 0 auto;
  max-width: 150rem;
}

.main {
  display: flex;
}

.left__side {
  margin-right: 7.9rem;
  margin-bottom: 30rem;
}

.heading {
  font-family: Poppins;
  font-size: 6.4rem;
  margin: 8.7rem 0 5.8rem 0;
}

.first__box {
  margin-bottom: 8.9rem;
}

.second__box {
  margin-bottom: 11rem;
}

.title {
  font-family: Poppins;
  font-size: 4.2rem;
  color: #304f95;
  margin-bottom: 2.4rem;
}

.description {
  font-family: Poppins;
  font-size: 2.4rem;
}

.mail {
  margin-right: 1rem;
}

.second__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 2rem;
  width: 29rem;
  height: 6rem;
  color: #ffffff;

  background: linear-gradient(56.83deg, #234dae 8.11%, #347bce 90.67%);
  border: none;
  border-radius: 4px;
}

.right__side {
  margin-top: 7.6rem;
}

/* Footer */

.both {
  display: flex;
}
.one__side {
  width: 50%;
  background-color: #234dae;
  padding-left: 24rem;
}

.footer__heading {
  font-family: Poppins;
  font-size: 4.2rem;
  color: #ffffff;
}

.form__one {
  padding-top: 8rem;
}

.form__two {
  padding-top: 3rem;
}

.input {
  background-color: #234dae;
  border: none;
  border-bottom: 1px solid #ebeff2;
  width: 54rem;
  height: 3rem;
}

::placeholder {
  font-family: Poppins;
  font-size: 1.8rem;
  color: #ffffff;
}

.input:focus {
  outline: none;
}

.third__button {
  font-family: Poppins;
  font-size: 2rem;
  width: 26.4rem;
  height: 6.4rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #ffffff;
  color: #234dae;
  margin-top: 4.8rem;
  margin-bottom: 7.8rem;
}

.apps {
  display: flex;
  gap: 3.2rem;
  font-family: Poppins;
  font-size: 2rem;
  color: #ffffff;
}

.rights {
  font-family: Poppins;
  font-size: 1.6rem;
  margin-top: 6.4rem;
  color: #ffffff;
  margin-bottom: 5.5rem;
}

.flexbox {
  display: flex;
}

.footer__heading--second {
  font-family: Poppins;
  font-size: 4.2rem;
  color: #343b43;
  margin-bottom: 3rem;
}

.blue__text {
  color: #304f95;
  font-family: Poppins;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.gmail {
  margin-bottom: 3rem;
}

.black__text {
  font-family: Poppins;
  font-size: 2.4rem;
}

.second__side {
  padding-left: 12rem;
  width: 50%;
  background-color: #ffffff;
}

.useful {
  font-family: Poppins;
  font-size: 4.2rem;
  color: #343b43;
  margin-top: 6rem;
}

.flexbox {
  display: flex;
  margin-top: 2.4rem;
}

.left {
  margin-right: 12rem;
}

.left,
.right {
  font-family: Poppins;
  font-size: 1.8rem;
}
