@media (max-width: 93em) {
  .container {
    max-width: 120rem;
  }

  .heading,
  .heading__second,
  .heading__three,
  .heading__four {
    font-size: 3.6rem;
  }

  .left__side {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }

  .one__side {
    padding-left: 1rem;
  }
}

@media (max-width: 87em) {
  .ship,
  .group,
  .group__two {
    padding: 0;
  }
}

@media (min-width: 75em) {
  .part {
    display: grid;
    grid-template:
      'title img' minmax(max-content, auto)
      'text img' auto / 56.2079510703% 43.7920489297%;
    grid-gap: 0;
    align-items: center;
  }
}

@media (max-width: 75em) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .input__container {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    max-height: 30rem;
  }

  .heading__primary {
    margin-top: 10rem;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .primary__description {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box__one,
  .box__two {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .button__two {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .flex__box {
    display: flex;
    flex-direction: row;
  }

  .part {
    display: grid;
    grid-template-areas: 'title' 'img' 'text';
  }

  .except {
    display: grid;
    grid-template-areas: 'title' 'img' 'text';
  }

  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #304f95;
    color: #ffffff;
    top: 8rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .main-nav--list {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5rem 0;
    line-height: 3rem;
  }
  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 62em) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }

  /* .left__side {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 5rem;
  }

  .right__side {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 5rem;
  } */

  .heading,
  .heading__second,
  .heading__three,
  .heading__four {
    padding: 0;
    font-size: 2.8rem;
  }

  .ship,
  .group,
  .group__two {
    max-width: 30rem;
  }

  .part {
    display: grid;
    grid-template-areas: 'title' 'img' 'text';
  }

  .container {
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
  }

  .both {
    display: flex;
    flex-direction: column;
  }
  .one__side,
  .second__side {
    width: 100%;
  }

  .second__side {
    padding-left: 1rem;
  }
}

@media (max-width: 40em) {
  .header {
    background-color: #f5f5f5;
  }

  .input__container {
    max-width: 100%;
  }

  .heading__primary {
    font-size: 3.2rem;
    align-items: center;
    justify-content: center;
  }

  .text__area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apps {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
